body * 
{
    font-family: Verdana;
}
html, body {  
    width: 100%;  
    height: 100%;  
    padding: 0;  
    margin: 0;
    font-family:Verdana, Geneva, sans-serif; 
    background: #dddddd;
}

.main
{
    margin: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    padding-top:100px;
    margin-left: -490px;
    z-index: 2;
    overflow: hidden;
    padding-bottom: 10px;
    width: 980px;
    height:200px;
    background: #dddddd;
    text-align:center;
}

.forecast
{
	
}
