<html>
<head>
<link rel="stylesheet" href="{{ static_url("style.css")}}" type="text/css">
</head>
<body>
<div class='main'>
    Weather for next 2 hours<br>
    <img src="/img/{{filename}}" style="width:720px;height:50px;"/><br>
    {{dt}}
</div>
</body>
</html>