<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Прогноз осадков в городе Киеве</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
          <a class="navbar-brand" href="#">Осадки в Киеве</a>
        </div>
        <!--
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Прогноз осадков на ближайшие 2 часа в Киеве</h3>
          <h10>&nbsp;</h10>
        <!-- <p>Последнее обновление прогноза выполнено в {{dt}}.</p> -->
        
        <!-- Time table -->
        {% if is_pc %}
            {% module Template("pc_image.html", filename=filename, 
            time_points=time_points)%}
        {% else %} 
            {% module Template("mobile_image.html", filename=filename) %}
        {% end %}
        <!--<p>Ваш браузер: {{user_agent}}.</p>-->
      </div>
      
      <div class="container">
	      <!-- Example row of columns -->
          <h4>&nbsp;</h4>
	      <h4>Обозначения</h4>
	      <div class="row">
	      	<div class="col-md-2">
	            <h5>Облачность</h5>
<!--	             <div style="width:12px; height:14px; background-color:#c0c0c0; float:left;"></div> <div  class="txt_radar3">Высоко-кучевая</div>-->
                <div style="width:12px; height:11px; background-color:#c0c0c0; float:left;"></div> <h6>&nbsp;Высоко-кучевая</h6>
<!--	            <div style="width:12px; height:12px; background-color:#c0ddc1; float:left;"></div> <div  class="txt_radar3">Слоистообразная</div>-->
                <div style="width:12px; height:11px; background-color:#c0ddc1; float:left;"></div> <h6>&nbsp;Слоистообразная</h6>
<!--	            <div style="width:12px; height:9px; background-color:#01ffff; float:left;"></div> <div  class="txt_radar3">Конвективная</div>-->
                <div style="width:12px; height:11px; background-color:#01ffff; float:left;"></div> <h6>&nbsp;Конвективная</h6>
	        </div>
	        <div class="col-md-2">
	            <h5>Осадки</h5>
	            <div style="width:12px; height:11px; background-color:#08ff09; float:left;"></div> <h6>&nbsp;Слабые</h6>
	            <div style="width:12px; height:11px; background-color:#00c101; float:left;"></div> <h6>&nbsp;Умереные</h6>
	            <div style="width:12px; height:11px; background-color:#008102; float:left;"></div> <h6>&nbsp;Сильные</h6>
	        </div>
	        <div class="col-md-2">
	            <h5>Ливень</h5>
	            <div style="width:12px; height:11px; background-color:#00bfc5; float:left;"></div> <h6>&nbsp;Слабый</h6>
	            <div style="width:12px; height:11px; background-color:#0500ff; float:left;"></div> <h6>&nbsp;Умереный</h6>
	            <div style="width:12px; height:11px; background-color:#000081; float:left;"></div> <h6>&nbsp;Сильный</h6>
	        </div>
	        <div class="col-md-2">
	            <h5>Гроза</h5>
	            <div style="width:12px; height:11px; background-color:#e29fc0; float:left;"></div> <h6>&nbsp;Слабая</h6>
	            <div style="width:12px; height:11px; background-color:#dd02c2; float:left;"></div> <h6>&nbsp;Умеренная</h6>
	            <div style="width:12px; height:11px; background-color:#fe0002; float:left;"></div> <h6>&nbsp;Сильная</h6>
	        </div>
	        <div class="col-md-2">
	            <h5>Град</h5>
	            <div style="width:12px; height:11px; background-color:#fbfe00; float:left;"></div> <h6>&nbsp;Слабый</h6>
	            <div style="width:12px; height:11px; background-color:#e2bf85; float:left;"></div> <h6>&nbsp;Умеренный</h6>
	            <div style="width:12px; height:11px; background-color:#c13f3f; float:left;"></div> <h6>&nbsp;Сильный</h6>
	        </div>       
			    <!-- <div style="position:relative; width:25%; height:100px; float:left; text-align:left; padding:7px 0px 0px 0px; ">
				    <div style="width:12px; height:9px; background-color:#c0c0c0; float:left;"></div> <div  class="txt_radar3"><p>А-С</p></div>
				    <div style="width:12px; height:9px; background-color:#c0ddc1; float:left;"></div> <div  class="txt_radar3">Слоистообразная</div>
				    <div style="width:12px; height:9px; background-color:#08ff09; float:left;"></div> <div  class="txt_radar3">Осадки слабые</div>
				    <div style="width:12px; height:9px; background-color:#00c101; float:left;"></div> <div  class="txt_radar3">Осадки умереные</div>
				    <div style="width:12px; height:9px; background-color:#008102; float:left;"></div> <div  class="txt_radar3">Осадки сильные</div>
				    <div style="width:12px; height:9px; background-color:#01ffff; float:left;"></div> <div  class="txt_radar3">Конвективная обл.</div>
				    <div style="width:12px; height:9px; background-color:#00bfc5; float:left;"></div> <div  class="txt_radar3">Ливень слабый</div>
				    <div style="width:12px; height:9px; background-color:#0500ff; float:left;"></div> <div  class="txt_radar3">Ливень умереный</div>
				   </div>
				<div style="position:relative; width:25%; height:100px; float:left; text-align:left; padding:7px 0px 0px 0px; ">
				    <div style="width:12px; height:9px; background-color:#000081; float:left;"></div> <div  class="txt_radar3">Ливень сильный</div>
				    <div style="width:12px; height:9px; background-color:#e29fc0; float:left;"></div> <div  class="txt_radar3">Гроза</div>
				    <div style="width:12px; height:9px; background-color:#dd02c2; float:left;"></div> <div  class="txt_radar3">Гроза</div>
				    <div style="width:12px; height:9px; background-color:#fe0002; float:left;"></div> <div  class="txt_radar3">Гроза</div>
				    <div style="width:12px; height:9px; background-color:#fbfe00; float:left;"></div> <div  class="txt_radar3">Град слабый</div>
				    <div style="width:12px; height:9px; background-color:#e2bf85; float:left;"></div> <div  class="txt_radar3">Град умеренный</div>
				    <div style="width:12px; height:9px; background-color:#c13f3f; float:left;"></div> <div  class="txt_radar3">Град сильный</div>
				    <div style="width:12px; height:9px; background-color:#000000; float:left;"></div> <div  class="txt_radar3">Нет даных</div>
				</div> -->
	        
	        
	        
	        <!-- <div class="col-md-6">
	          <h2>Конкуренты</h2>
	          <div id="SinoptikInformer" style="width:240px;" class="SinoptikInformer type1c1"><div class="siHeader"><div class="siLh"><div class="siMh"><a onmousedown="siClickCount();" class="siLogo" href="https://sinoptik.ua/" target="_blank" rel="nofollow" title="Погода"> </a>Погода <span id="siHeader"></span></div></div></div><div class="siBody"><a onmousedown="siClickCount();" href="https://sinoptik.ua/погода-киев" title="Погода в Киеве" target="_blank" rel="nofollow"><div class="siCity"><div class="siCityName">Погода в <span>Киеве</span></div><div id="siCont0" class="siBodyContent"><div class="siLeft"><div class="siTerm"></div><div class="siT" id="siT0"></div><div id="weatherIco0"></div></div><div class="siInf"><p>влажность: <span id="vl0"></span></p><p>давление: <span id="dav0"></span></p><p>ветер: <span id="wind0"></span></p></div></div></div></a><div class="siLinks">Погода на <a href="https://sinoptik.ua/погода-одесса/10-дней/" title="Погода в Одессе на 10 дней" target="_blank" rel="nofollow" onmousedown="siClickCount();">sinoptik.ua</a>  в Одессе</div></div><div class="siFooter"><div class="siLf"><div class="siMf"></div></div></div></div><script type="text/javascript" charset="UTF-8" src="//sinoptik.ua/informers_js.php?title=4&amp;wind=3&amp;cities=303010783&amp;lang=ru"></script>
	        </div> -->
	        <!-- <div class="col-md-4">
	          <h2>Радарный снимок</h2>
	          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div> -->
	      </div>
	
	      <hr>
	  </div>
      <div class="container">
          <p style="font-size:12px">Прогноз составлен на основе анализа данных <a href="https://meteo.gov.ua/en/33345/radar">Украинского гидрометцентра</a></p>
      </div>
    </div>


	<div class="container">
      <footer>
        <p align="center">&copy; <a href="https://gitlab.com/weather_forecast/kyiv_precipitations">Gitlab repository</a> 2019</p>
      </footer>
    </div>
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/refresh_img.js"></script>
    
  </body>
</html>