<table class='table' style="width:790px">
    <tr>
        {%for time_point in time_points%}
            {% module Template("time_table_cell.html", time_point=time_point)%}
        {% end %}
    </tr>
</table>